<div class="flex border-b border-gray-200 dark:border-gray-600  justify-between items-center space-x-4 rtl:space-x-reverse">
         <div class="shrink-0 m-2 hidden sm:block">
            <img [src]="image" class="w-[204px] h-[113px] border-gray-200 dark:border-gray-600 rounded-lg" alt="Neil image">
         </div>
         <div class="flex-1 p-2 min-w-0">
            <div class="flex text-sm text-gray-500 hidden sm:block dark:text-gray-400">
                <span class="bg-purple-100 m-2 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded">Technologie</span>
                <span class="bg-purple-100 m-2 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded">Startup</span>
                <span class="bg-purple-100 m-2 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded">Orange</span>
            </div>
            <p class="text-sm m-2 font-medium text-gray-900 dark:text-white">
               Orange Summer Challenge
            </p>
            <div class="flex m-2 text-sm text-gray-500 sm:p-4 sm:gap-4 sm:flex-row dark:text-gray-400">
                <div class="flex items-center text-sm text-gray-500 dark:text-gray-400">
                  <i class="fas fa-clock text-gray-500  dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                  </i>                    
                  <span class="m-2 text-xs text-gray-500  dark:text-gray-400">By Orange Digital Center</span>
                </div>
                <div class="flex items-center text-sm text-gray-500 dark:text-gray-400">
                  <i class="fas fa-map-marker-alt text-gray-500  dark:text-gray-400 m-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg>
                  </i>                   
                  <span class="m-2 text-xs text-gray-500  dark:text-gray-400">At Huileries Street</span>
                </div>
                <div class="flex items-center text-sm text-gray-500  dark:text-gray-400">
                  <i class="fas fa-clock text-gray-500  dark:text-gray-400 m-1"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                      <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                    </svg>
                  </i>
                  <span class="m-2 text-xs text-gray-500  dark:text-gray-400">29 mai 2025</span>
                </div>
            </div>
         </div>
    </div>
